<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Project For Code Immersives</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="/css/login.css" rel="stylesheet">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
	</head>
	<body>

		<div id="index">
			<h1 class="text-center text-white pt-5">Hello <%= name %></h1>
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div class="login-box col-md-12">
							<div  id="login-form" class="form" >
								<h3 class="text-center text-info">CHOOSE YOUR DESTINY, MORTAL</h3>
								<p class="text-info">
									<% if (success.length) { %>
										<%= success %>
									<% } %>
									<% if (errors.length) { %>
										<%= errors %>
									<% } %>
								<div class="text-info twoLinks">
									<div class="text-left">
										<a href="/register" class="text-info">Click here to register</a><br>
									</div>
									<div class="text-right">
										<a href="/login" class="text-info">Click here to log in</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
